.name {
    font-family: fantasy, sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 5%;
    padding-bottom: 0;
    margin: 0;
    font-size: 5vh;
    text-align: center;
    
    letter-spacing: 0.09em;
}

h2 {
    font-size: 2em;
    font-family: fantasy, sans-serif;
    font-weight: lighter;
    text-align: center;
    color: white;
}
header {
    text-align: center;
}
.headerDiv{
    background-color: lightblue;
    display: inline-block;
    width: 100%;
    max-height: 70%;
}
.nav {
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 3vh;
}
nav li {
    display: inline;
    padding: 1em, 2em;
    font-family: fantasy, sans-serif;
    color: gray;
}

.hello {
    width: 96%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: fantasy, sans-serif;
    font-size: 18px;
}
.excel {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-family: fantasy, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.spread {
    width: 20vw;
    height: auto;
    margin: 0vh 1vw;
    padding-right: 0.25vw;
    padding-left: 0.25vw;

}
#spread {
    width: 22%;
    height:90%;
    margin: 5px;
    padding: 5px;
}
.foodPhotos{
    padding: 5px 5px 5px 5px;

}
.day {
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    font-family: fantasy, sans-serif;
}
.schedule {
    text-align: left;
    font-size: 16px;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    font-family: sans-serif
}
.footer {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding: 15px;
    margin: 10px;
}
.album {
    width: 27%;
    height:auto;
    margin: 10px;
    padding: 10px;
}
#album {
    list-style: none;
}
  nav a,
    nav a:visited {
        color: gray;
    }
    
    nav a:hover {
        color: white;
    }
.dunes{
    text-align: center;
    margin: 30px;
    padding: 30px;
    font-family: fantasy, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.button {
    background-color: gray;
    border-style: double;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1.125em;
    text-align: center;
}
.button:hover {
    background-color: lightgray;
}