/**linked to photos page only**/

@media screen and (min-width: 480px){
    @viewport{
        width:100vw;
    }
    body{
        background-color: lightsteelblue;
    }
}
    
   
    
@media screen and (min-width: 660px)
    {
        @viewport{
            width:100vw;
        }
        body{
            background-color: lightskyblue;
        }
    }
    @media screen and (min-width: 740px)
    {
    @viewport{
        width:100vw;
        }
        body{
            background-color: lightgray;
        }
    }